<ion-view view-title="Home">
    <ion-content class="padding">
        <h2>Color Blindness</h2>
        <p>
            Color blindness, also known as color vision deficiency, is the decreased ability to see color or differences in color. Color
            blindness can make some educational activities difficult. Buying fruit, picking clothing, and reading traffic
            lights can be more challenging, for example. Problems, however, are generally minor and most people adapt. People
            with total color blindness, however, may also have decreased visual acuity and be uncomfortable in bright environments.
        </p>

        <p>
            The most common cause of color blindness is an inherited fault in the development of one or more of the three sets of color
            sensing cones in the eye. Males are more likely to be color blind than females, as the genes responsible for
            the most common forms of color blindness are on the X chromosome. As females have two X chromosomes, a defect
            in one is typically compensated for by the other, while males only have one X chromosome. Color blindness can
            also result from physical or chemical damage to the eye, optic nerve, or parts of the brain. Diagnosis is typically
            with the Ishihara color test; however a number of other testing methods also exist.
        </p>
        <p>There is no cure for color blindness. Diagnosis may allow a person's teacher to change their method of teaching to
            accommodate the decreased ability to recognize colors.Special lenses may help people with red–green color blindness
            when under bright conditions. There are also mobile apps that can help people identify colors.
        </p>
        <p>
            Red–green color blindness is the most common form, followed by blue–yellow color blindness and total color blindness.Red–green
            color blindness affects up to 8% of males and 0.5% of females of Northern European descent. The ability to see
            color also decreases in old age. Being color blind may make people ineligible for certain jobs in certain countries.
            This may include pilot, train driver, and armed forces. The effect of color blindness on artistic ability, however,
            is controversial. The ability to draw appears to be unchanged and a number of famous artists are believed to
            have been color blind.
        </p>
        <ion-item clas="item item-icon-right" href="#/tab/test">
            Start Test
        </ion-item>
        </button>

    </ion-content>
</ion-view>
