<ion-view view-title="Test">
    <ion-content class="padding">
        <div class="container">
            <h2>Test</h2>

            <div>
                <h3>Question 1</h3>
                <img src="\img\Question1.png">
            </div>
            <div>
                Select an answer<br>
                <input type="radio" name="Question1" value="1" ng-model="Answer">I can see 12.</input>
                <input type="radio" name="Question1" value="0" ng-model="Answer">I can see anything.</input>
                <button type="button" ng-click="save(Answer)">Save</button>
            </div>

            <div>
                <h3>Question 2</h3>
                <img src="\img\Question2.png">
            </div>
            <div>
                Select an answer<br>
                <input type="radio" name="Question2" value="1" ng-model="Answer">I can see 3.</input>
                <input type="radio" name="Question2" value="0" ng-model="Answer">I can see anything.</input>
                <button type="button" ng-click="save(Answer)">Save</button>
            </div>

            <div>
                <h3>Question 3</h3>
                <img src="\img\Question3.png">
            </div>
            <div>
                Select an answer<br>
                <input type="radio" name="Question3" value="1" ng-model="Answer">I can see 16.</input>
                <input type="radio" name="Question3" value="0" ng-model="Answer">I can see anything.</input>
                <button type="button" ng-click="save(Answer)">Save</button>
            </div>
            <div>
                <h3>Question 4</h3>
                <img src="\img\Question4.png">
            </div>
            <div>
                Select an answer<br>
                <input type="radio" name="Question4" value="1" ng-model="Answer">I can see 8.</input>
                <input type="radio" name="Question4" value="0" ng-model="Answer">I can see anything.</input>
                <button type="button" ng-click="save(Answer)">Save</button>
            </div>


            <div>
                <h3>Question 5</h3>
                <img src="\img\Question5.png">
            </div>
            <div>
                Select an answer<br>
                <input type="radio" name="Question5" value="1" ng-model="Answer">I can see 60.</input>
                <input type="radio" name="Question5" value="0" ng-model="Answer">I can see anything.</input>
                <button type="button" ng-click="save(Answer)">Save</button>
            </div>

            <ion-item clas="item item-icon-right" href="#/tab/result">
                 Result</button>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
